* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;

}

.titulo {
    text-align: center;
    font-size: 3rem;
    padding: 20px;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 800px;
}

.top {
    margin-top: 16px;
    width: 400px;
}

.bottom {
    width: 400px;
}

.left, .right {
    transform: rotate(90deg);
    margin: 0;
    width: 150px;
}

.configuracoes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-borda {
    background-color: #ff8a65;
    height: 150px;
    width: 400px;
    margin: 16px 0;
}

.codigo-css {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
    margin-top: 20px;
}

.input {
    width: 60px;
    padding: 5px;
  }

#copiar {
    display: block;
    margin: 20px auto;
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#copiar:hover {
    background-color: #ff4f4f;
}
  

.configurar-tamanho {
    display: flex;
    margin-top: 16px;
    font-weight: bold;
    margin-right: 5px;
    align-items: center;
}

.configurar-tamanho p {
    font-size: 1rem;
    font-weight:600;
}

.configurar-tamanho label {
    margin: 0 4px 0 8px;
    font-size: 1rem;
    font-weight:600;
}

.tamanhos {
   visibility: hidden;
}

.tamanhos.input{
    width: 50px;
}

.copiado {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 8px;
}