* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.titulo {
    text-align: center;
    font-size: 3rem;
    margin-top: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.top {
    margin-top: 16px;
    width: 400px;
}

.bottom {
    width: 400px;
}

.left {
    transform: rotate(90deg);
    margin: 0;
    width: 150px;
}

.right {
    transform: rotate(90deg);
    margin: 0;
    width: 150px;
}

.configuracoes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-borda {
    background-color: rgb(192, 178, 178);
    height: 150px;
    width: 400px;
    margin: 16px 0;
}

.codigo-css {
    background-color: rgb(201, 199, 199);
    margin-top: 32px;
    padding: 50px 100px; 
}

#copiar {
    margin-top: 16px;
    padding: 16px 30px;
    background-color: darkgrey;
}

.configurar-tamanho {
    display: flex;
    margin-top: 16px;
}

.configurar-tamanho p {
    font-size: 1rem;
    font-weight:600;
}

.configurar-tamanho label {
    margin: 0 4px 0 8px;
    font-size: 1rem;
    font-weight:600;
}

.tamanhos {
   visibility: hidden;
}

.tamanhos.input{
    width: 50px;
}